.headingContainer {
    padding: 2rem 0;
}
.headingContainer.dark h1 {
    text-align: center;
}
.dark h1 {
    color: #252422;
}
.headingContainer h1 {
    text-align: center;
}
.light h1 {
    color: #fffcf2;
}
.headingContainer.light h1 a {
    color: #ccc5b9;
    text-shadow: 2px 2px 1px black;
    transition: color 0.5s ease;
}