.topnavContainer {
    background-color: #403d39 ;
    padding: 0.75rem 0;
    position: fixed;
    z-index: 3;
}
.topnavContainer .col {
    padding-left: 0;
    padding-right: 0;
}
.topnavContainer a {
    color: #fffcf2;
    font-size: 1.5rem;
    text-shadow: 2px 2px 1px black;
}
.topnavContainer a:hover {
    color: #ccc5b9
}