.btn, 
.btn.btn-primary, 
.btn.btn-lg,
.btn.btn-primary.btn-lg {
    background-color: #eb5e28;
    border-color: #eb5e28
}
.btn:hover, 
.btn.btn-primary:hover, 
.btn.btn-lg:hover,
.btn.btn-primary.btn-lg:hover {
    background-color: #eb8a63;
    border-color: #eb8a63
}