.headingContainer h1 {
    text-align: center;
    color: #fffcf2;
}
.headingContainer h1 a {
    color: #ccc5b9;
    text-shadow: 2px 2px 1px black;
    transition: color 0.5s ease;
}
.headingContainer h1 a:hover {
    color: #403d39;
    text-decoration: none;
}
.headingInner {
    padding: 6rem 0;
}
.imgContainer {
    text-align: center;
}

.imgContainer img {
    width: 100%;
}

.contactContainer form label {
    color: #fffcf2;
}

.particles {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #eb5e28; 
}