.left {
    padding: 8rem 0 3rem 0;
}

.right {
    padding: 4rem 0 4rem 0;
}

.particles {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.name {
    color: #fffcf2;
    font-size: 4rem;
    z-index: -1;
}

.titles {
    color: #fffcf2;
    font-size: 2rem;
}

.tagline {
    color: #fffcf2;
}

.description {
    color: #fffcf2;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
    .left {
        padding: 8rem 0 3rem 0;
    }
    .right {
        padding: 4rem 0 4rem 0;
    }
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    .left {
        padding: 10rem 0 5rem 0;
    }
    .right {
        padding: 6rem 0 5rem 0;
    }
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .left {
        padding: 12rem 0 5rem 0;
    }
    .right {
        padding: 6rem 0 6rem 0;
    }
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .right {
        padding: 10rem 0 6rem 0;
    }
}